<h1>This is my home page!</h1>

<ul>
  <li>Dont</li>
  <li>You</li>
  <li>Wish</li>
  <li>Your</li>
  <li>Girlfriend</li>
  <li>Was</li>
  <li>Hot</li>
  <li>Like</li>
  <li>Me?</li>
</ul>

<%= link_to 'About', pages_about_path %>